.page{
    list-style: none;
    margin: 30px 30%;
    padding-bottom: 30px;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #f40;
    margin: 5px;
    background-color: #f40;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #f40;

}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}